<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comentarios
        </title>
        <link rel="stylesheet" href="Style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo"></div>
            <ul class="menu">
                <li class="active">
                    <a href="">
                        <ion-icon name="home"></ion-icon>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <ion-icon name="calendar"></ion-icon>
                        <span>Eventos</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <ion-icon name="mail-unread"></ion-icon>
                        <span>Pedidos</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class='bx bx-support icon'></i>
                        <span>Fale conosco</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="user--i">
            <div class="searh--box">
                <input type="search" name="" id="">
            </div>
        </div>
        <div class="head--user">
            <div class="user">
                <div class="user--info">
                    <img src="usuario.png" style="height: 150px ;">
                    <div class="nome">
                        <h2>Nome da ONG</h2>
                    </div>
                </div>
                <div class="lin"></div>
                <div class="num--publi"> <p>2 Publicações</p></div>
                <div class="dados--ong"><h3>Dados da Ong</h3>
                <p>São Paulo - SP<br>
                Barueri<br>
            Rua Carlos Manoel №199</p></div>

                <div class="num--follow"><p>66 Seguidores</p></div>
                <div class="contato">
                    <h3>Formas de Contato</h3>
                <p>ong@gmail.com<br>
                11 95827-2384<br>
            Web site.com</p>
                </div>
                <div class="num--subs"><p>18 Inscrições</p></div>
                
    <div class="edit"> <a href=""><p>Editar Perfil</p></a></div>

<div class="share"><a href=""><p>Compartilhar</p></a></div>
                
            </div>
            <div class="lin-h"></div>

            <div class="opcoes"><a href="">Publicações</a>
                <a href="">Eventos</a>
                <a href="" style="color: #38D39F">Comentários</a>

            </div>
            <div class="mae">
                   
                    <div class="coment">
                        <p>Comentário que a ONG ja fez.  </p>
                    </div>

           <div class="texbox">
            <textarea rows="5" cols="40" placeholder="   Comentar"></textarea>
        </div>

                <div class="coment">
                    <p> Comentário que a ONG ja fez. </p>
                </div>

                <div class="publicar"><input type="submit" value="Publicar"></div>
            </div>
    </body>
</html>