<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Eventos</title>
        <link rel="stylesheet" href="../../css/nic.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        
    </head>
    <body>
        <div class="sidebar">
            <div class="logo"></div>
            <ul class="menu">
                <li class="active">
                    <a href="">
                        <ion-icon name="home"></ion-icon>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <ion-icon name="calendar"></ion-icon>
                        <span>Eventos</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <ion-icon name="mail-unread"></ion-icon>
                        <span>Pedidos</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class='bx bx-support icon'></i>
                        <span>Fale conosco</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="topo">
        <div class="caixa-pesquisa">
            <input type="text" class="pesquisa" placeholder="pesquisar">
            <a href="" class="botao">
                <ion-icon name="search-outline"></ion-icon>
            </a>
        </div>
        <div class="not">
            <a href="" class="not-link">
                <ion-icon name="notifications-outline"></ion-icon>            </a>
        </div>

        <div class="perfil">
            <a href="" class="perfil-link">
                <ion-icon name="person-circle-outline"></ion-icon>            </a>
        </div>
</div>

<div class="container1">
    <div class="container2">
        <div class="conteudo">
    <div class="detalhes">
        <figure>
            <img src="/image/evento-square.png" alt="">
        </figure>
    <h2>Entrega de cesta basica</h2>
    <p>Dados do eventos como: local, dia, Horario, etc..</p>
   <h2>Descrição de exemplo</h2><br/><br/>
    <h3>Sobre a vaga</h3>
    <p>
Nós do Atados acreditamos no voluntariado como troca de vivências e experiências, como possibilidade de desenvolvimento de habilidades e uma oportunidade das pessoas participarem ativamente da transformação social.<br>
Com o propósito de mobilizar pessoas e impulsionar transformações positivas na sociedade, o Atados também promove encontros e formações de fortalecimento de rede do terceiro setor.<br>

O próximo encontro, Café com ONG's, tem como objetivo abrir espaço de troca sobre mobilização, gestão e engajamento de voluntários para organizações sociais.<br>
Além disso, incentiva a partilha de conhecimento, aprendizados e experiências. Será na Zona Norte do Rio de Janeiro, no dia 10/10!<br>
<br>
Estamos em busca de pessoas comunicativas e com agilidade para nos apoiar com a produção do evento, como:
</p>
</div>
<div class="vertical-line"></div>
<div class="conteudo2">
    <div class="sim">
    <h2>Mais imagens do <br> Evento</h2>
    <ion-icon name="settings-outline"></ion-icon></div>
<div class="fotos-evento">
    <img src="/image/eventofs.png" alt="eventofs">
    <img src="/image/eventinho2.png" alt="">
    <img src="/image/eventinho2.png" alt="">
    <img src="/image/eventinho2.png" alt="">
    <img src="/image/eventinho2.png" alt="">
    <img src="/image/eventinho2.png" alt="">
    <img src="/image/eventinho2.png" alt="">
    <img src="/image/eventinho2.png" alt="">
    <img src="/imagee/ventinho2.png" alt="">
</div>
</div>
</div>
</div>
</div>
    </body>
    
</html>