@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
}

.sidebar
{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 1.7em;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #24AD7F;
}

.logo
{
    height: 80px;
    padding: 16px;
}

.menu 
{
    height: 88px;
    position: relative;
    list-style: none;
    padding: 0;
    top: 20%;
}

.menu li
{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active
{
    background: #28c08d;
}

.menu a
{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span
{
    overflow: hidden;
}

.menu a i, ion-icon
{
    font-size: 1.5rem;
}

.menu .sair
{
    margin-top: 130%;
} 

.main--content
{
    position: relative;
    background: #000000;
    width: 100%;
}

.header--wrapper img
{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header--wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 10px;
}

.searh--box
{
    width: 50%;
    background: #ebe9e9;
    border-radius: 15px;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
    margin-left: 2rem;
}

.searh--box input
{
    background: transparent;
    margin-left: 3%;
    padding: 10px;
    font-size: 1.2rem;
}

.searh--box ion-icon
{
    position: relative;
    margin-left: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.searh--box ion-icon:hover
{
    transform: scale(1.2);
}

.user--info
{
    display: flex;
    align-items: center;
    gap: 1;
    margin-right: 2rem;
}

.user--info ion-icon
{
    font-size: 1.8rem;
    margin-right: 2rem;
    cursor: pointer;
}

section
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe9e9;
}

.container {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: white;
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

#new {
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #32be8f;
  cursor: pointer;
}

.divTable {
  padding: 10px;
  width: auto; 
  height:inherit; 
  overflow:auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
	text-align: center;
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

tbody tr td ion-icon
{
	color: rgb(0, 128, 192);
}

tbody tr td .excluir ion-icon
{
	color: #f00;
}


thead tr th {
  padding: 6px;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal .button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  background-color: #32be8f;
  color: white;
  cursor: pointer;
}

.modal button:hover
{
  background-color: #0ae29a;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}



@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}