<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../../Css/Style6.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo"></div>
            <ul class="menu">
                <li>
                    <a href="home.html">
                        <ion-icon name="home"></ion-icon>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="crud-user.html">
                        <ion-icon name="calendar"></ion-icon>
                        <span>Eventos</span>
                    </a>
                </li>

                <li>
                    <a href="pedido.html">
                        <ion-icon name="mail-unread"></ion-icon>
                        <span>Pedidos</span>
                    </a>
                </li>

                <li>
                    <a href="contact.html">
                        <i class='bx bx-support icon'></i>
                        <span>Fale conosco</span>
                    </a>
                </li>

                <li class="sair">
                    <a href="index.html">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="head--user">
            <div class="user">
                <div class="user--info">
                    <img src="../../image/usuario.png" style="height: 150px ;">
                    <div class="nome">
                        <h2>Nome Voluntario</h2>
                    </div>
                </div>
                <div class="lin"></div>
                <div class="dados--ong"><h3>Dados da Ong</h3>
                <p>São Paulo - SP<br>
                Barueri<br>
            Rua Carlos Manoel №199</p></div>

     
                <div class="contato">
                    <h3>Formas de Contato</h3>
                <p>voluntario@gmail.com<br>
                11 95827-2384<br>
         </p>
                </div>

                <div class="bio">
                    <h3>Biografia</h3>
                </div>
                
            </div>
            <div class="lin-h"></div>
        <div class="grafic">
            <img src="../../image/Group 18.png">
            <img src="../../image/Group 25.png">
        </div>
        </div>
    </body>
</html>